.header__lang-link {
    width: 30px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 117%;
    justify-self: end;
    text-decoration: none;
    color: #FFFFFF;
    margin: 0;
    justify-content: flex-end;
}

.header__lang-link:hover {
    text-decoration: underline;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .header__lang-link {
        font-size: 1.125rem;
        line-height: 111%;
    }
}