.lead {
    max-width: 984px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .lead {
        max-width: calc(100% - 96px);  /*100vw*/
    }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .lead {
        max-width: 100%;
    }
}