.place__paragraph {
    max-width: 100%;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 163%;
    color: #FFFFFF;
    margin: 0 0 26px 0;
}

.place__paragraph:last-of-type {
    margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .place__paragraph {
        max-width: 288px;
        font-size: 1rem;
        margin: 0 auto 26px;
    }

    .place__paragraph:last-of-type {
        margin: 0 auto;
    }
}