.place__url-heading {
    min-width: 100%;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 170%;
    letter-spacing: 2px;
    color: #AAA;
    text-transform: uppercase;
    margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .place__url-heading {
        line-height: 100%;
    } 
}